*{
    margin: 0px;
}
.Titulo{
    text-align: center;
    background-color: rgba(25, 55, 187, 0.76);
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

body{
    background: url(/Astaroth-l.github.io/Imagen/atardecer-florencia-min.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

nav{
    background:linear-gradient(to top right,#2949ffb7,#3d53ceb9
    );
}

.menu{
    margin: 0px ;
    text-align:center;
    padding: 2px 0px 2px 0px;
    block-size: 80px;
}

.menu li{
    display: inline-block;
}

.menu a{
    padding: 40px;
    color: rgba(0, 0, 0, 0.932);
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu a:hover{
    background-color: rgba(66, 124, 190, 0.877);
    block-size: 1px
}

main{
    background-color: rgba(33, 132, 190, 0.514);
    margin: 20px;
}

.Historia{
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb, 
                0 4px 0 #b9b9b9, 
                0 5px 0 #aaa, 
                0 6px 1px rgba(0, 0, 0, .1), 
                0 0 5px rgba(0, 0, 0, .1), 
                0 1px 3px rgba(0, 0, 0, .3), 
                0 3px 5px rgba(0, 0, 0, .2), 
                0 5px 10px rgba(0, 0, 0, .25), 
                0 10px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15) ;  
}

.parrafo1{
    margin:5px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Imagen{
    width: 400px;
    height: auto; /*mover una imagen sin q se distorco */
    display: block; /*Convertirlo en Bloque */
    margin: auto;
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
}

.Imagen:hover{
    transform: scale(1.2);
}

.economia{
    text-align: center;
    margin: 5px;
    font-size: 60px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0, 0, 0, .1), 
    0 0 5px rgba(0, 0, 0, .1), 
    0 1px 3px rgba(0, 0, 0, .3), 
    0 3px 5px rgba(0, 0, 0, .2), 
    0 5px 10px rgba(0, 0, 0, .25), 
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15) ;   
}

.parrafo2{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px;
}

.video{
    margin: 10px;
}

table{
    width: 50%;
    /*border-spacing: 0px;*/
    border-collapse: separate;
    /*caption-side: bottom;*/
    margin: auto;
}

tr, td{
    width: 25%;
    text-align: center;
    /*solid, dashed, dotted */
    border: 1px solid rgb(0, 0, 0);
    vertical-align: bottom;
    /*border-spacing: 0px;*/
    background-color: rgba(30, 75, 173, 0.582);
    font-size: 20px;
    
}

caption{
    background-color: rgba(28, 37, 170, 0.733);
    font-size: 30px;
    margin: 20px 0 0 0;
}

.pais{
    background-color: rgb(12, 40, 202);
}

.capital{
    background-color: rgb(14, 43, 206);
}

footer{
    background-color: rgba(15, 69, 150, 0.774);
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer img{
    width: 50px;
}

.FB{
    text-align: right;
}

.direccion{
    float: right;
    margin: 0px 0px 1px 0px;
}

.correo{
    text-align: center;
    padding: 10px 0px 0px 0px;
    float: left;
}