*{
    margin: 0%;
    padding: 0;
}
.Titulo{
    text-align: center;
    background-color: rgba(25, 55, 187, 0.76);
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

body{
    background: no-repeat;
background-size: 100%;

}

.encabezado{
    background-image: linear-gradient(35deg, #a6ffff 0, #a2edff 25%, #9dd5f2 50%, #96bed5 75%, #8ea8b9 100%);
    margin: 0%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.porsche{
    width:150px;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu ul li ul{
    display: flex;
    flex-direction: column;
}
.menu ul li a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 30px;
    display: block;
}

.menu ul li a:hover{
    background-color: rgba(58, 167, 194, 0.801);
}

.menu ul li ul{
    position:absolute;
    background-color: rgba(47, 152, 201, 0.74);
}

.menu ul li ul{
    width: 140px;
}

.menu ul li ul{
    display: none;
}

.menu ul li:hover>ul{
    display: block;
}

.menu ul li ul a{
    font-size: 17px;
}

main{
    background-color: rgba(74, 179, 228, 0.678);
    margin: 125px 30px 20px 30px;
    
}

.tituloP{
    font-size: 45px;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-shadow: 1px 2px 2px black,0 0 25px rgb(13, 125, 145), 0 0 5px rgb(0, 119, 255); 
}

.parrafo1{
    margin:5px;
    font-size: 25px;
    font-family: 'Oleo Script', cursive;
    color: rgb(0, 0, 0);
}

.general{
    font-size: 25px;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-shadow: 1px 2px 2px black,0 0 25px rgb(13, 125, 145), 0 0 5px rgb(0, 119, 255); 
}
.area{
    display: flex; /*volver los elementos tabla (flexible)*/
    flex-wrap: wrap; /*apilar las imagenes fila recta*/
    flex-direction: row; /*apilar filas*/
    align-items: center; /*todas las opcines estan al centro*/
    justify-content: center; /*contenido centro*/
}
.imagenes{
    padding: 0px 20px 20px;
}

img:hover{
    opacity: .6;
    transition: 0.9s;
    transform: rotate(-3deg);
}

.foto1{
    width: 350px;
    height: 220px;
}
.foto2{
    width: 350px;
    height: 220px;
}
.foto3{
    width: 350px;
    height: 220px;
}
.foto4{
    width: 350px;
    height: 220px;
}

.area div img{
    border: solid 4px; 
    margin: 0 0 50px 50px;
}

footer{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0%
}

footer img{
    width: 50px;
}

.FB{
    text-align: right;
}

.direccion{
    float: right;
    padding: 10px
    
}

.correo{
    text-align: center;
    padding: 10px 0px 0px 0px;
    float: left;
}